.topnav {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
  background-color: #9C1535;
}

.topnav a {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  color: white;
}

.inner{
  border-radius: 10px;
  text-align: left;
  color: white;
  display: block;
  background-color: #A16E7A;
  width:40%;

  margin-right: auto;
  margin-left: auto;
  margin-top: 2%;
  margin-bottom: 2%;

  padding-top: .1%;
  padding-bottom: .1%;
  
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 20%;
  margin-left: 20%;
}

b {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

h2 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#tags {
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#tags td, #tags th {
  border: 1px solid #ddd;
  padding: 8px;
}
#tags tr:nth-child(even){background-color: #A16E7A;}
#tags tr:hover {background-color: #ddd;}
#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #A16E7A;
  color: white;
}